{:deps {lambdaisland/fetch {:mvn/version "1.5.83"}
        no.cjohansen/dataspex {:mvn/version "2026.06.1"}
        no.cjohansen/nexus {:mvn/version "2025.11.1"}
        no.cjohansen/replicant {:mvn/version "2025.12.1"}
        org.clojure/clojurescript {:mvn/version "1.12.145"}
        thheller/shadow-cljs {:mvn/version "3.3.5"}}

 :paths ["src" "resources"]

 :aliases {:dev {:extra-paths ["dev"]}}}
